/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

/* header */
header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 60px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

nav {
  display: flex;
  gap: 20px;
}

.blue {
  color: #00b4d8;
}

nav p {
  margin: 0;
  color: #333;
  cursor: pointer;
}

/* homepage img */

#asu-img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: 600px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
  display: flex;
  align-items: flex-end;
  padding: 0px 80px 30px;
  box-sizing: border-box;
}

.overlay .text {
  color: white;
}

.overlay h1 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 600;
}

.overlay p {
  margin: 0;
  font-size: 1em;
  font-weight: 300;
}

/* pages */
.page-content-container {
  margin: 60px 80px 60px 80px; /* top left bottom right */
}

/* homepage */

.home {
  width: 100%;
}

.select-restroom-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 16px;
}

/* restroom page */

.back-arrow {
  font-size: 24px;
}

.restrooms {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
  gap: 24px;
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Styles for the review button */
.leave-review-button {
  background-color: #00b4d8;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin-left: 24px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.leave-review-button:hover {
  transform: scale(1.05);
}

.review-button-container {
  display: flex;
}

.restroom-card {
  background-color: white;
  width: 250px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  text-align: left;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.restroom-card:hover {
  transform: scale(1.05);
}

.restroom-card-info p,
.restroom-card-info h4 {
  margin: 0;
  padding: 0;
}

.restroom-card-info p, 
.restroom-card-info h4 {
  margin-bottom: 10px;
  margin-right: 15px;
}

.restroom-card-info {
  margin: 15px 0px 15px 15px;
}

.restroom-card-stats,
.flex-display
 {
  display: flex;
  align-items: center;
}

.building-image-container {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#building-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}


.review-card {
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
  text-align: left;
  box-sizing: border-box;
}

/* workout form */

label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: #00b4d8;
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 4px;
  margin: 20px 0;
}

/* star rating */

input[type="radio"] {
  display: none;
}

label {
  cursor: pointer;
}

/* footer */

.footer-container {
  text-align: center;
  padding: 40px;
  background-color: rgb(255, 255, 255);
  
}

.footer-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
}


@media only screen and (max-width: 1000px) {

  header .container {
    margin: 0 60px;
    padding: 10px 0px;
  }

  #asu-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 450px;
  }

  .overlay {
    padding: 0px 60px 30px;
  }

  .page-content-container {
    margin: 40px 60px 40px 60px;
  }

}

@media only screen and (max-width: 600px) {

  header .container {
    margin: 0 40px;
  }

  #asu-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  .image-container {
    position: relative;
    width: 100%;
    height: 300px;
  }

  .overlay {
    padding: 0px 40px 30px;
  }

  .overlay h1 {
    font-size: 1em;
  }

  .overlay p {
    font-size: 0.75em;
  }

  .restrooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .select-restroom-title {
    font-size: 0.75em;
  }

  .flex-display {
    display: block;
  }

  .leave-review-button {
    margin-left: 0px;
    margin-bottom: 36px;
  }

  .footer-container {
    font-size: 0.75em;
  } 

}